#itemDetailPage .itemName.infoText.parentNameLast.withOriginalTitle {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important;
}

.itemName {
    margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast.withOriginalTitle {
    display: block;
}
